.cover {
    display: flex;
    width: 100%;
    height: 560px;
    background-image: url("/img/content/1c4a128afe9a39e3c9b6c8e64eb0cb77.png");
    background-size: cover;
    background-position: left center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 20px;
}